/* *{
    border: 2px solid red;
} */
body{
    margin: 0px;
    display: grid;
    grid-template-rows: 1.5fr 10fr 1fr;
    height: 100vh;
    background:url('./image/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg');
    background-size: cover;
}
header{
    font-size: calc(2rem + 1vw);
}
header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
footer{
    font-size: calc(8px + 0.8vw);
}
.board{
    display: grid;
    height: calc(245px + 1vh);
    width: calc(245px + 1vw);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 4px;
    gap: 8px;
    border-radius: 10px;
}
.board div{
    background-color: white;
    border-radius: 10px;
}
.board div:hover{
    background-color: lightgray;
}
main{
    display: grid;
    grid-template-rows: 3fr 10fr 3fr;
}
.playing-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1rem + 1vw);
}
.restart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart button{
    width: calc(130px + 1vw);
    height: calc(40px + 1vh);
    border-radius: 10px;
    font-size: calc(0.8rem + 0.8vw);
    background-color: darkslategrey;
    border: 0px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.restart button:hover{
    transform: scale(1.1);
}